[submodule "client/scripts/bouncejs"]
	path = client/scripts/bouncejs
	url = https://github.com/benrbowers/bouncejs.git
[submodule "client/public/sticky-notes"]
	path = client/public/sticky-notes
	url = https://github.com/benrbowers/sticky-notes.git
[submodule "client/public/bouncejs"]
	path = client/public/bouncejs
	url = https://github.com/benrbowers/bouncejs.git
