.imageContainer {
  display: inline-block;
}

.imageContainer > div{
  vertical-align: middle;
}

.tagButton {
  background-color: darkgray;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tagButton:active {
  position: relative;
  bottom: 0.5em;
}

.tagText {
  display: inline-block;
  color: white;
  vertical-align: middle;
}